# =========================
# Terraform
# =========================

# state files
*.tfstate
*.tfstate.*
*.tf
TERRAFORM_SECRET

# crash logs
crash.log

# terraform working dir
.terraform/
.terraform.lock.hcl

# variables (могут содержать секреты)
*.tfvars
*.tfvars.json

# override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# plan output
*.tfplan

# =========================
# SSH keys
# =========================

# приватные ключи
id_rsa
id_rsa.pub
deploy_key
deploy_key.pub
*.pem
*.key

# =========================
# OS / IDE
# =========================

.DS_Store
Thumbs.db
.vscode/
.idea/
